.team-member {
    text-align: center;
  }
  .team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    background: #ddd;
  }
  .team-member h5 {
    font-weight: bold;
    margin-top: 10px;
  }
  .team-member p {
    color: gray;
    margin-bottom: 0;
  }